<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/movies/bulkAdd">
                <table cellpadding="11">
                <tr>
                    <td class="label">Limit</td><td>: <input type="number" name="limit" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Add">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            <span>Query Execution Time:- <%if(typeof data != 'undefined' ){%><%=data.executionTime%><%}%> ms</span><br><br><br>
        </div>
        
<%- include layouts/footer.ejs %>